.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: row; 
    align-items: center;
    

}
.menu li {
 
    border: goldenrod solid 3px;
    flex-shrink: 1;
    flex-grow: 1;
    background-color: bisque;
    text-align: center;
    margin: 5px;

    
}

    
}

h1 {
    text-align: center;
    border: outset 5px goldenrod;
    color: black;
    background-color: bisque;
    
    

}
img {
    margin-left: 610px;
    border-radius: 50%;
}

